In [7]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
print(os.listdir("./data"))

['sample.csv', 'train.csv', '.gitignore', 'GCP-Coupons-Instructions.rtf', 'test.csv']

In [8]:
pd_train = pd.read_csv('./data/train.csv')

In [12]:
pd_sample = pd_train.head(5000)

On ne va récupérer que les 500 première lignes et supprimer les lignes en erreur

In [13]:
pd_sample = pd_sample[(pd_sample.pickup_longitude != 0) & (pd_sample.pickup_latitude != 0)]

In [14]:
pd_sample.to_csv("./data/sample.csv", index=False)

# Calcul approximatif via trigonométrie

In [15]:
#pd_sample = pd.read_csv('./data/sample.csv')

In [16]:
# Thanks "Albert van Breemen" for the function
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295 # Pi/180
    a = 0.5 - np.cos((lat2 - lat1) * p)/2 + np.cos(lat1 * p) * np.cos(lat2 * p) * (1 - np.cos((lon2 - lon1) * p)) / 2
    return 0.6213712 * 12742 * np.arcsin(np.sqrt(a))

In [17]:
distance(pd_sample.pickup_latitude[0],
         pd_sample.pickup_longitude[0], 
         pd_sample.dropoff_latitude[0],
         pd_sample.dropoff_longitude[0])

0.6404870231407276

# Calcul via Google Maps

In [18]:
pd_sample['pickup'] = pd_train.pickup_latitude[0].astype(str)+","+pd_train.pickup_longitude[0].astype(str)
pd_sample['dropoff'] = pd_train.dropoff_latitude[0].astype(str)+","+pd_train.dropoff_longitude[0].astype(str)
print ("Pickup:" + pd_sample['pickup'][0])
print ("Dropoff:" + pd_sample['dropoff'][0])

Pickup:40.721319,-73.844311
Dropoff:40.712278000000005,-73.84161

In [19]:
pd_sample.head(5)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup,dropoff
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,"40.721319,-73.844311","40.712278000000005,-73.84161"
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,"40.721319,-73.844311","40.712278000000005,-73.84161"
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,"40.721319,-73.844311","40.712278000000005,-73.84161"
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,"40.721319,-73.844311","40.712278000000005,-73.84161"
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,"40.721319,-73.844311","40.712278000000005,-73.84161"

In [20]:
import googlemaps
gmaps = googlemaps.Client(key="AIzaSyCCVGjjizjvK88QaW4o0dVxNbBKpX5qrmM")

ModuleNotFoundError: No module named 'googlemaps'

In [21]:
# https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=Washington,DC&destinations=New+York+City,NY&key=AIzaSyCCVGjjizjvK88QaW4o0dVxNbBKpX5qrmM
def distance_googlemaps(pickup, dropoff):
    geocode_result = gmaps.distance_matrix(pickup, dropoff)
    #print (geocode_result)
    try:
        distance = float(geocode_result['rows'][0]['elements'][0]['distance']['text'].split()[0])
        duration = geocode_result['rows'][0]['elements'][0]['duration']['text'].split()
        if len(duration)==4:
            mins = float(duration[0])*60 + float(duration[2])
        else:
            mins = float(duration[0])
    except:
        mins = np.nan
        distance = np.nan
    return pd.Series((distance, mins))

In [ ]:
distance_googlemaps(pd_sample['pickup'][0], pd_sample['dropoff'][0])

In [ ]:
pd_sample[['distance','duration']] = pd_sample.apply(lambda row: distance_googlemaps(row.pickup, row.dropoff), axis=1)

# Cartographier les points

Récupération des minimum et maximum sur la longitude

In [ ]:
min(pd_sample.pickup_longitude.min(), pd_sample.dropoff_longitude.min()), \
max(pd_sample.pickup_longitude.max(), pd_sample.dropoff_longitude.max())

Récupération des minimum et maximum sur la latitude

In [ ]:
min(pd_sample.pickup_latitude.min(), pd_sample.dropoff_latitude.min()), \
max(pd_sample.pickup_latitude.max(), pd_sample.dropoff_latitude.max())

In [ ]:
pd_sample

In [ ]:
nycBox = (-74.3, -73.7, 40.5, 40.9)

# Cette fonction vérifie que les coordonnées passées (df) sont bien dans le cadre BB
def AppartientCadre(df, _nycBox):
    return (df.pickup_longitude >= _nycBox[0]) & (df.pickup_longitude <= _nycBox[1]) & \
           (df.pickup_latitude >= _nycBox[2]) & (df.pickup_latitude <= _nycBox[3]) & \
           (df.dropoff_longitude >= _nycBox[0]) & (df.dropoff_longitude <= _nycBox[1]) & \
           (df.dropoff_latitude >= _nycBox[2]) & (df.dropoff_latitude <= _nycBox[3])

# Coordonnées de l'image de New York
import matplotlib.pyplot as plt
nyc = plt.imread('https://aiblog.nl/download/nyc_-74.3_-73.7_40.5_40.9.png')

In [ ]:
pd_sample = pd_sample[AppartientCadre(pd_sample, nycBox)]
pd_sample.describe()

## Superpose les points (lat, long) sur une carte

In [ ]:
def plotOnImage(df, _nycBox, nyc_map):
    fig, a = plt.subplots(ncols=1, figsize=(10, 10))
    a.set_title("Points sur NYC")
    a.set_xlim((_nycBox[0], _nycBox[1]))
    a.set_ylim((_nycBox[2], _nycBox[3]))
    a.scatter(df.pickup_longitude, df.pickup_latitude, zorder=1, alpha=0.3, c='r', s=1)
    a.imshow(nyc, zorder=0, extent=_nycBox)

In [ ]:
plotOnImage(pd_sample, BB, nyc_map)

## Superpose les points (pickup/dropoff) sur une carte

In [ ]:

def taxi_plot(df, BB, nyc_map, s=10, alpha=0.2):
    fig, axs = plt.subplots(1, 2, figsize=(16,10))
    
    axs[0].scatter(df.pickup_longitude, df.pickup_latitude, zorder=1, alpha=alpha, c='r', s=s)
    axs[0].set_xlim((BB[0], BB[1]))
    axs[0].set_ylim((BB[2], BB[3]))
    axs[0].set_title('Pickup locations')
    axs[0].imshow(nyc_map, zorder=0, extent=BB)
    
    axs[1].scatter(df.dropoff_longitude, df.dropoff_latitude, zorder=1, alpha=alpha, c='r', s=s)
    axs[1].set_xlim((BB[0], BB[1]))
    axs[1].set_ylim((BB[2], BB[3]))
    axs[1].set_title('Dropoff locations')
    axs[1].imshow(nyc_map, zorder=0, extent=BB)

taxi_plot(pd_sample, BB, nyc_map, s=1, alpha=0.3)